.cards__wrapper {
  width: 89%;
  margin-left: 10%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.cards__wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 960px) {
  .cards__wrapper {
    width: 80%;
    margin: auto;
    gap: 16px;
  }
}
