.cards__item {
  width: 25%;
  min-width: 180px;
  border-radius: 16px;
  /* background-image: linear-gradient(
    85deg,
    rgba(194, 112, 103, 0.7),
    rgba(3, 105, 105, 0.7)
  ); */
  background-size: cover;
  padding: 16px;
  box-sizing: border-box;
}

.cards__item:nth-of-type(2n) {
  background-image: url(../../images/background/back-green-l.jpg);
}

.cards__item:nth-of-type(2n + 1) {
  background-image: url(../../images/background/back-pink-l.jpg);
}
