.cards__wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: none;
}

.cards__wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 900px) {
  .cards__wrapper {
    gap: 16px;
  }
}
