.price__cell {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
}

.price__cell:nth-of-type(2n) {
  text-align: end;
  white-space: nowrap;
}

/* .price__row_underlined .price__cell {
  padding-bottom: 20px;
}

.price__row_underlined .price__cell::after {
  content: "";
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    var(--accent-bright),
    var(--accent-soft)
  );
  border-radius: 4px;
  position: absolute;
  bottom: 8px;
  left: 0;
} */

@media screen and (min-width: 700px) {
  .price__cell {
    font-size: 16px;
  }
}
