.price__cell_underlined {
  padding-bottom: 20px;
}

tr:has(> .price__cell_underlined) {
  position: relative;
}

.price__cell_underlined::after {
  content: "";
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    var(--accent-bright),
    var(--accent-soft)
  );
  border-radius: 4px;
  position: absolute;
  bottom: 8px;
  left: 0;
}
