.header__link {
  color: var(--main-text);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  /* background-image: url(../../images/background/back-green.png); */
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  min-width: 80px;
  min-height: 80px;
  text-align: center;
  padding-top: calc(50% - 10px);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

li:nth-of-type(2n + 1) .header__link {
  background-image: url(../../images/background/back-green.png);
}

li:nth-of-type(2n) .header__link {
  background-image: url(../../images/background/back-pink.png);
}

@media screen and (min-width: 900px) {
  .header__link:hover {
    opacity: 0.7;
    scale: 1.2;
    rotate: 360deg;
  }
}
