.header {
  min-height: 500px;
  background-image: linear-gradient(
      rgba(255, 255, 255) 20%,
      rgba(255, 255, 255, 0.538),
      rgba(194, 112, 103, 0.4)
    ),
    url(../../images/background/back-header.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  box-sizing: border-box;
}
