.logo__title {
  text-transform: uppercase;
  /* font-family: "Edu QLD Beginner", cursive; */
  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  letter-spacing: 10px;
  margin: 0 auto;
}
