.price__table_opened {
  transition: all 0.5s ease-in-out;
}

.price__table_opened:first-of-type {
  height: 602px;
}

.price__table_opened:nth-of-type(2) {
  height: 390px;
}

.price__table_opened:nth-of-type(3) {
  height: 244px;
}

.price__table_opened:last-of-type {
  height: 315px;
}
