@keyframes closePhoto {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}

.popup__photo {
  width: 80vmin;
  height: 80vmin;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 10px 2px var(--accent-soft), 0 0 10px 8px var(--accent-bright);
  border-radius: 16px;
  scale: 0;
  animation: closePhoto 0.5s ease-in-out 1 forwards;
  cursor: auto;
}
